*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
  }
  body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-image: url("https://source.unsplash.com/1600x900/?nature");
	  background-size: cover;
	  background-position: center;
   
  }
  .container{
	width: 605px;
	background: #fff;
	border-radius: 15px;
	padding: 30px 30px 25px;
	box-shadow: 0 12px 35px rgba(0,0,0,0.1);
  }
  
  .container .quote-box{
	margin: 35px 0;
  }
  .container .quote-text{
	display: flex;
	justify-content: center;
  }
  
  .text{
	font-size: 22px;
	text-align: center;
	word-break: break-all;
  }
  .container .author{
	display: flex;
	font-size: 18px;
	margin-top: 20px;
	font-style: italic;
	justify-content: flex-end;
	margin-left: 50%;
  }
  .author span:first-child{
	margin: -7px 5px 0 0;
	font-family: monospace;
  }
  .container .buttons{
	border-top: 1px solid #ccc;
  }
  .buttons .features{
	display: flex;
	margin-top: 20px;
	align-items: center;
	justify-content: space-between;
  }
  .features ul{
	display: flex;
  }
  .features ul li{
	margin: 0 5px;
	height: 47px;
	width: 47px;
	display: flex;
	cursor: pointer;
	color: #d01dcd;
	list-style: none;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	border: 2px solid #5372F0;
	transition: all 0.3s ease;
  }
  .features ul li:first-child{
	margin-left: 0;
  }
  ul li:is(:hover, .active){
	color: #fff;
	background: #5372F0;
  }
  ul .speech.active{
	pointer-events: none;
  }
  .buttons .new-quote{
	border: none;
	color: #fff;
	outline: none;
	font-size: 16px;
	cursor: pointer;
	padding: 13px 22px;
	border-radius: 30px;
	background: #260407;
  }
  